<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo TestNG">
    <listeners>
        <listener class-name="tests.AnnotationTransformer"/>
    </listeners>
    <test name="Cart Test">
        <classes>
            <class name="tests.CardTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="Login Test">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test> <!-- Test -->
</suite>